/* You can add global styles to this file, and also import other style files */
$cardbackground: rgba(85, 85, 85, 0.384)
$background-color: black
$navbackground: rgba(43, 43, 43, 0.733)
$color: white
$navbarcolor: #00000052
$imageheight: 320px
$gridhomecolumn: 1fr 1fr 1fr
$border: 10px
$font: "segoe ui"
$icon-margin: calc(106px / 2 - 12px)

body
  margin: 0
  background: $background-color
  color: $color
  font-family: $font

img
  height: $imageheight

.clear
  margin: 0

.card h5
  max-width: 300px
  display: inline-block

.grid
  display: grid
  grid-template-columns: $gridhomecolumn

.card
  width: 340px
  height: 400px
  position: relative
  justify-self: center
  background: $cardbackground
  padding: 10px
  margin: 10px 0 10px 5px
  border-radius: $border

*
  box-sizing: border-box
  color: $color
  text-decoration: none
  margin: 0
  padding: 0

.nav-container
  height: 100%

.nav-background
  background: rgba(0,0,0,0.8)

.logo-container
  display: inline

.logo
  min-width: 70px
  min-height: 21px
  width: auto
  height: 50px
  margin: 25px

.main
  min-height: 89vh
  background: $background-color

.icon-container
  display: inline
  float: right

.icon
  transform: scale(2)
  margin: $icon-margin 25px 14.5px 10px

.large-icon
  vertical-align: middle
  margin: 0 10px 0 0
  transform: scale(1.5)

.button-container
  margin-top: 10px
  height: auto

button
  position: sticky
  top: 0
  width: 100px

::-webkit-scrollbar
  width: 5px
  position: absolute

::-webkit-scrollbar-track
  background: rgba(250, 250, 250, 0.4)
  border-radius: 10px

::-webkit-scrollbar-thumb
  background: rgba(226, 226, 226, 0.5)
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: rgba(255, 255, 255, 0.8)

.sidebar
  padding: 15px 25px
  height: 100%

.sidebar-container
  background: rgba(0,0,0,0.9)

.search
  display: flex
  justify-content: center

.form-control
  background: rgba(255, 255, 255, 0.1)
  margin-top: 20px
  color: white
  padding: 10px
  border-radius: 5px
  width: 50%
  height: 30px

.form-control:focus
  background: #ffffff56

.center
  flex-direction: column
  display: flex
  justify-content: center

.search-type
  margin: 20px

.search-toggle
  padding: 2px
  border-radius: 7px
  margin-left: 10px
  height: 30px
  background: rgba(255,255,255,0.5)


.mat-button-toggle-appearance-standard .mat-button-toggle-label-content
  line-height: 30px

.mat-button-toggle-checked
  background: rgba(255,255,255,0.1)


.artist-name
  padding: 10px
  font-size: 3rem
